body{

font-family:var(--cw-font);

background:var(--cw-bg);

margin:0;

}

.cw-screen{

max-width:500px;

margin:auto;

padding:20px;

}

.cw-card{

background:white;

border-radius:20px;

padding:18px;

box-shadow:var(--cw-shadow);

margin-bottom:18px;

}
